h1{
    text-align: center;
}
#textSave{
    color: rgb(12, 194, 12);
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
}
#simplexTable tr td{
   padding: 10px;
   border: 1px solid black;
}
#work tr td,
#work1 tr td{
    padding: 10px;
    border: 1px solid black;
}
#work1 table{
    margin: 15px;
}
.go, .goAuto{
    padding: 7px 15px;
    border: 1px solid black;
    width: 230px;
    background-color: blanchedalmond;
    margin: 5px;
    cursor: pointer;
}
.get{
    font-weight: 600;
    cursor: pointer;
    color: rgb(235, 15, 15);
}
#work{
    width: 100vw;
}
#work table{
    margin: 30px;
}